<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (quote) { %>
      <form class="add-client-form" action="" method="post" enctype="multipart/form-data">
        <div class="form-group col-md-4">
          <label for="clientId">CLient Id</label>
            <input type="number" class="form-control" name="clientId" id="clientId" value="<%= quote.clientId %>" required>
        </div>
              <div class="form-group col-md-4">
                  <label for="gallonsRequested">Gallons Requested</label>
                  <input type="number" class="form-control" name="gallonsRequested" id="gallonsRequested" value="<%= quote.gallonsRequested %>" required>
              </div>
              <div class="form-group col-md-4">
                  <label for="requestDate">Request Date</label>
                  <input type="datetime-local" class="form-control" name="requestDate" id="requestDate" value="<%= quote.requestDate %>" required>
              </div>
              <div class="form-group col-md-4">
                  <label for="deliveryDate">Delivery Date</label>
                  <input type="datetime-local" class="form-control" name="deliveryDate" id="deliveryDate" value="<%= quote.deliveryDate %>" required>
              </div>
              <div class="form-group col-md-4">
                  <label for="deliveryAddress">Delivery Address</label>
                  <input type="text" class="form-control" name="deliveryAddress" id="deliveryAddress" value="<%= quote.deliveryAddress %>"  required>
              </div>
              <div class="form-group col-md-4">
                  <label for="deliveryCity">Delivery City</label>
                  <input type="text" class="form-control name-valid" name="deliveryCity" id="deliveryCity" value="<%= quote.deliveryCity %>" required>
              </div>
              <div class="form-group col-md-4">
                  <label for="deliveryState">Delivery State</label>
                  <input type="text" class="form-control name-valid" name="deliveryState" id="deliveryState" value="<%= quote.deliveryState %>" required>
              </div>
              <div class="form-group col-md-4">
                  <label for="deliveryZipCode">Delivery ZipCode</label>
                  <input type="number" class="form-control" name="deliveryZipCode" id="deliveryZipCode" value="<%= quote.deliveryZipCode %>" required>
              </div>
              <div class="form-group col-md-4">
                  <label for="deliveryContactName">Delivery Contact Name</label>
                  <input type="text" class="form-control name-valid" name="deliveryContactName" id="deliveryContactName" value="<%= quote.deliveryContactName %>" required>
              </div>
              <div class="form-group col-md-4">
                  <label for="deliveryContactPhone">Delivery Contact Phone</label>
                  <input type="phone" class="form-control" name="deliveryContactPhone" id="deliveryContactPhone" value="<%= quote.deliveryContactPhone %>" required>
              </div>
              <div class="form-group col-md-4">
                  <label for="deliveryContactEmail">Delivery Contact Email</label>
                  <input type="email" class="form-control" name="deliveryContactEmail" id="deliveryContactEmail" value="<%= quote.deliveryContactEmail %>" required>
              </div>
              <div class="form-group col-md-4">
                  <label for="suggestedPrice">Suggested Price</label>
                  <input type="number" class="form-control" name="suggestedPrice" id="suggestedPrice" value="<%= quote.suggestedPrice %>" required>
              </div>
              <div class="form-group col-md-4">
                  <label for="totalAmountDue">Total Amount Due</label>
                  <input type="number" class="form-control" name="totalAmountDue" id="totalAmountDue" value="<%= quote.totalAmountDue %>" required>
              </div>
          <button type="submit" class="btn btn-primary float-right">Update Quote</button>
      </form>
    <% } else { %>
        <p class="text-center">Quote Not Found. Go <a href="/addQ">here</a> to add quote.</p>
    <% } %>
</div>
</div>
</body>
</html>
