<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (client.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Client ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% client.forEach((client, index) => { %>
                        <tr>
                            <th scope="row"><%= client.clientId %></th>
                            <td><%= client.fullName %></td>
                            <td><%= client.address +" " + client.city + ", " + client.state + " " + client.zipCode %></td>
                            <td><%= client.phone %></td>
                            <td><%= client.email %></td>
                            <td>
                                <a href="/edit/<%= client.clientId %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/delete/<%= client.clientId %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No Client found. Go <a href="/add" >here</a> to add clients.</p>
        <% } %>
    </div>
</div>
</body>
</html>
